<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="false">
  <extensions>
    <add assembly="NLog.AWS.Logger" />
  </extensions>
  <targets>
    <target name="aws" type="AWSTarget" logGroup="ElevateReporting" profile="default" region="us-east-1" ProfilesLocation="credentials">
      <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Comma-separated list (string)">
        <attribute name="time" layout="${longdate}" />
        <attribute name="LogLevel" layout="${level:upperCase=true}"/>
        <attribute name="Category" layout="${logger}"></attribute>
        <attribute name="eventId" layout="${event-properties:item=EventId_Id}"></attribute>
        <attribute name="eventName" layout="${event-properties:item=EventId_Name}"></attribute>
        <attribute name="url" layout="${aspnet-request-url}"></attribute>
        <attribute name="message" layout="${message}" />
        <attribute name="traceid" layout="${aspnet-traceidentifier}"></attribute>
        <attribute name="exception" layout="${exception:format=tostring}"/>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="trace" writeTo="aws" />
  </rules>

</nlog>
