<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="AcBp_Password" value="qaadmin8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AcBp_UserName" value="Administrator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AcBp_Volume" value="QA_VOLUME" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AcCommandExecute" value="executereport.do" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcCommandSubmit" value="submitjob.do" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AcGeneratedReportUrl" value="https://qareportoutput.riversidedatamanager.com/iportal/iportal/activePortal/viewer/viewframeset.jsp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ActuateVolume" value="IRM40/IOWA/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcWebLocation" value="https://qareportoutput.riversidedatamanager.com/iportal/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdaptiveDashboard_Auth_Url" value="https://reporting-api.adaptive.uat.rcs.rsiapps.com/v1/autorization/getAuthToken" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdaptiveDashboard_Auth_ClientId" value="AK1WAio16Abn9-B.rsi.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdaptiveDashboard_Auth_ClientSecret" value="ANH_vt05J0f8U5NqI6U9qeJonTKv0O14_WifCibjY81AmT2T4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdaptiveDashboard_GraphqlUrl" value="https://reporting-api.adaptive.uat.rcs.rsiapps.com/reporting/data-api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BackDoorLogin_UserId" value="34567" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BackDoorLogin_LocationIds" value="1282261" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BackDoorLogin_LocationLevel" value="DISTRICT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ConnectionString" value="data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = scor-oracle-db.qa.aws.rpcsys.hmco.com)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = BBQA01)));user id = sdrpub;password = pub761;max pool size=200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DataExportDirectory" value="\\sqafile01\DataExportFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Dashboard_CogAT_SmiApiUrl" value="http://SDVSCORMGR01/smiapiQA/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DmUrl" value="https://stage.riversidedatamanager.com/BalancedManagement" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Email_CogatFeedbackMailingList" value="chetan.naik@riversideinsights.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EntryAllowedUrls" value="rpcsys,riversidedatamanager" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Environment" value="QA"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TurnOnCogatPerformanceLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsTelerikReportFeatureEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsIowaFlexKto1FeatureEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsIowaFlexCogatEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsWebReportingLiteFeatureEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TaskUrl" value="http://dadmjobs01.rpcsys.hmco.com/jobSchedulerAPI.QA/api/task/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="folderUserName" value="svc_telerik" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="folderPassword" value="RZ6yXjCEQje6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="folderDomain" value="RPCSYS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="folderPath" value="\\SQAFILE01\BASDMFiles\DownloadedTelerikReports\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportList" value="CogAT7ProfileNarrative,CogAT7ListStudentScores,CogAT7GroupSummary,IowaCogatProfileNarrative,IowaGroupListSummary,IowaListOfStudentScores,IowaGroupItemAnalysis,CatalogExporter" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/> <!--,IowaCogatProfileNarrative-->
    <add key="LoginGuid" value="A9E5D481B38942B6BE04FAEE0CF77AB1,D86D6691F4BD4119A599279AE1AEC421,CFE1AF4F03B04D86A9ED79C5B971BC31" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="NLog" connectionString="Data Source=DQDMSQLDB01\QDMSQLDB01;MultiSubnetFailover=true;Initial Catalog=BASDM_ND_Elmah;User ID=sa;Password=6618lkp"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <!-- Actuate Service Endpoint -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ActuateSoapBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sqaactu11on01.rpcsys.hmco.com:8000" binding="basicHttpBinding" bindingConfiguration="ActuateSoapBinding" contract="ActuateApi.ActuateSoapPort" name="ActuateSoapPort" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
