<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="EnableSSL" value="false" />
    <add key="UnderMaintenance" value="false" />
    <add key="BitmapPath" value="\\oiafile\ReportWriter\Templates\Production" />
    <add key="SessionTimeOut" value="10" />
    <add key="AlertTimeToSessionEnd" value="5" />
    <add key="OptionsCriteriaVersion" value="5000" />
    <add key="SdrPackage" value="SDR_IRM40_MENU_PKG" />
    <add key="SystemName" value="IRM50" />
    <add key="DbLogging" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />
    <add key="XmlAbsolutePath" value="~/bin/Xml/DisplayTypes.xml" />
    <add key="DmSecurityKey" value="HoustonIsdImport" />

    <add key="Demo_IowaFlex_UserId" value="34567" />
    <add key="Demo_IowaFlex_LocationIds" value="1282959" />
    <add key="Demo_IowaFlex_LocationLevel" value="DISTRICT" />

    <add key="DmLink_UserDetailsApi" value="/api/users/detail" />
    <add key="DmLink_BasServices" value="/BASServices" />

    <add key="DmLink_AddReportingKey" value="/WebReporting/AddReportingKey.aspx" />
    <add key="DmLink_ProductResources" value="/digitalrsc" />
    <add key="DmLink_Help" value="http://onlinehelp.riversideinsights.com/Help/DM/index.htm#t=Welcome_to_DataManager_Online_Help.htm" />
    <add key="DmLink_Logout" value="/user/signout" />
    <add key="DmLink_Overview" value="/overview" />
    <add key="DmLink_TestEvents" value="/assessment/overview" />
    <add key="DmLink_Assignments" value="#" />
    <add key="DmLink_Proctoring" value="/Proctoring.aspx" />
    <add key="DmLink_Omr" value="/assessment/scanningoverview" />
    <add key="DmLink_AdminHome" value="/Portal2/DownloadDFA.aspx" />
    <add key="DmLink_ManageStudents" value="/Portal2/Students/ManageStudents.aspx" />
    <add key="DmLink_ManageStaff" value="/Portal2/Staff/ManageStaff.aspx" />
    <add key="DmLink_ManageLocations" value="/Portal2/Locations/ManageLocation.aspx" />
    <add key="DmLink_ManageRostering" value="/Portal2/Students/Import/StudentImport.aspx?pageName=AdminHome" />
    <add key="DmLink_ManageOmrScanningSettings" value="/Portal2/OMR/ManageOMROptions.aspx" />
    <add key="DmLink_ManageReportAccess" value="/WebReporting/ReportingAdministration.aspx" />
    <add key="DmLink_ManageTestingActivity" value="/Portal2/Contracts/ManageOnlinePPS.aspx?pageName=AdminHome" />
    <add key="DmLink_ViewLicenses" value="/Portal2/SmartInventory/ViewLicenseInfo.aspx" />
    <add key="DmLink_UserGuides" value="/digitalrsc?selected=DataManager" />
    <add key="DmLink_TermsOfUse" value="https://www.riversidedatamanager.com/BalancedManagement/termsOfuse" />
    <add key="DmLink_PrivacyPolicy" value="https://www.riversidedatamanager.com/BalancedManagement/termsOfUse#PrivacyPolicy" />
    <add key="DmLink_LoginPage" value="/user/signin" />
    <add key="DmLink_CompanyWebsite" value="http://www.riversideinsights.com" />
    <add key="DmLink_SettingsPreferences" value="/Portal2/SettingsPreferences/SettingsPreferences.aspx" />

    <add key="Email_SmtpUserName" value="AKIASXL53IWRJGXZVGPW" />
    <add key="Email_SmtpPassword" value="BA+rVuf7BZKxsIdXVDS8KXQk3NObh+wTQ6Om+mSgh/E0" />
    <add key="Email_SmtpHost" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="Email_SmtpPort" value="587" />

    <add key="GraphQlResponseCacheTimeInMinutes" value="10" />

    <add key="RsLink_IowaFlex" value="https://www.riversideinsights.com/solutions/iowaflex?tab=0" />

    <!--ENV-->
    <add key="AcBp_Password" value="qaadmin8" />
    <add key="AcBp_UserName" value="Administrator" />
    <add key="AcBp_Volume" value="QA_VOLUME" />
    <add key="AcCommandExecute" value="executereport.do" />
    <add key="AcCommandSubmit" value="submitjob.do" />
    <add key="AcGeneratedReportUrl" value="https://qareportoutput.riversidedatamanager.com/iportal/iportal/activePortal/viewer/viewframeset.jsp" />
    <add key="ActuateVolume" value="IRM40/IOWA/" />
    <add key="AcWebLocation" value="https://qareportoutput.riversidedatamanager.com/iportal/" />
    <add key="AdaptiveDashboard_Auth_Url" value="https://reporting-api.adaptive.uat.rcs.rsiapps.com/v1/autorization/getAuthToken" />
    <add key="AdaptiveDashboard_Auth_ClientId" value="AK1WAio16Abn9-B.rsi.com" />
    <add key="AdaptiveDashboard_Auth_ClientSecret" value="ANH_vt05J0f8U5NqI6U9qeJonTKv0O14_WifCibjY81AmT2T4" />
    <add key="AdaptiveDashboard_GraphqlUrl" value="https://reporting-api.adaptive.uat.rcs.rsiapps.com/reporting/data-api/" />
    <add key="BackDoorLogin_UserId" value="34567" />
    <add key="BackDoorLogin_LocationIds" value="1282261" />
    <add key="BackDoorLogin_LocationLevel" value="DISTRICT" />
    <add key="ConnectionString" value="Server=dev-elevate-database-cluster-1-read.endpoint.proxy-cezvrxu7cnho.us-east-1.rds.amazonaws.com;port=5432;Database=rs;Username=elevate_reporting;Password=rEwUvagXmZ;Timeout=1000;CommandTimeout=1000;Keepalive=15" />
    <add key="Dashboard_CogAT_SmiApiUrl" value="http://SDVSCORMGR01/smiapiQA/api/" />
    <add key="DataExportDirectory" value="\\sqafile01\DataExportFiles" />
    <add key="DmUrl" value="https://stage.riversidedatamanager.com/BalancedManagement" />
    <add key="EntryAllowedUrls" value="rpcsys,riversidedatamanager" />
    <add key="Environment" value="QA" />
    <add key="TurnOnCogatPerformanceLogging" value="true" />
    <add key="IsTelerikReportFeatureEnabled" value="true" />
    <add key="IsIowaFlexKto1FeatureEnabled" value="true" />
    <add key="IsWebReportingLiteFeatureEnabled" value="true" />
    <add key="ReportingBackgroundApiHost" value="http://commonreportingbackgroundapi-dev.riversidedatamanager.com" />
    <add key="TaskUrl" value="http://10.33.206.28/jobSchedulerAPI/api/task/" />
    <add key="folderUserName" value="svc_telerik" />
    <add key="folderPassword" value="RZ6yXjCEQje6" />
    <add key="folderDomain" value="RPCSYS" />
    <add key="folderPath" value="\\SQAFILE01\BASDMFiles\DownloadedTelerikReports\" />
    <add key="folderPathDownload" value="\\sqafile01.rpcsys.hmco.com\BASDMFiles\DownloadedTelerikReports" />
    <add key="ReportList" value="CogAT7ProfileNarrative,CogAT7ListStudentScores,CogAT7GroupSummary,IowaCogatProfileNarrative,IowaGroupListSummary,IowaListOfStudentScores,CatalogExporter,IowaGroupItemAnalysis" />
    <add key="ReportList" value="CogAT7ProfileNarrative,CogAT7ListStudentScores,CogAT7GroupSummary" />
    <add key="LoginGuid" value="walesdistrict@gmail.com,walesstaff@gmail.com,walesteacher@gmail.com" />
    <add key="SampleJsonData" value="\\SQAFILE01\BASDMFiles\DownloadedTelerikReports\GetAllData.json" />
    <add key="SamplePopulationJson" value="\\SQAFILE01\BASDMFiles\DownloadedTelerikReports\GetPopulationFiltersJson.json" />
    <add key="AuthUrl" value="/identity-api/api/Authentication" />
    <add key="RosterUrl" value="/rostering/roster/rosteringroles" />
    <add key="ElevateApiUrl" value="https://api.dev.elevate.riverside-insights.com" />
    <add key="ElevateReportingEngineUrl" value="https://api.dev.elevate.riverside-insights.com/" />
    <add key="ElevateBaseUrl" value="https://www.dev.elevate.riverside-insights.com" />
    <add key="ElevateAuthentication" value="/identity-api/api/Authentication" />
    <add key="ElevateValidation" value="/identity-api/api/Authentication/ValidateAccessToken" />
    <add key ="ReturnUrl" value="https://www.dev.elevate.riverside-insights.com/administration/check-session?next=https://webreport.dev.elevate.riverside-insights.com/BackDoor/AfterRedirection"/>
  </appSettings>
  <connectionStrings>
    <add name="NLog" connectionString="Data Source=DQDMSQLDB01\DDMSQLDB01;User ID=dm-reskin;Password=Hhmc0;Initial Catalog=BASDM_Nlog;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ActuateSoapBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--<client>
      <endpoint address="http://sqaactu11on01.rpcsys.hmco.com:8000" binding="basicHttpBinding" bindingConfiguration="ActuateSoapBinding" contract="ActuateQA.ActuateSoapPort" name="ActuateSoapPort" />

    </client>-->
  </system.serviceModel>
  <system.web>
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxQueryStringLength="100000" enable="true" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
    </httpModules>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    <sessionState timeout="80" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="100000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <!--<bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3"/>-->
        <bindingRedirect oldVersion="0.0.0.0-4.122.19.1" newVersion="4.122.19.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
