<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="AcBp_Password" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcBp_UserName" value="Administrator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcBp_Volume" value="rpcactudev1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcCommandExecute" value="executereport.do" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcCommandSubmit" value="submitjob.do" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcGeneratedReportUrl" value="http://sdaactuate01.rpcsys.hmco.com:8900/iportal/iportal/activePortal/viewer/viewframeset.jsp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ActuateVolume" value="IRM40/IOWA/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcWebLocation" value="http://sdaactuate01.rpcsys.hmco.com:8900/iportal/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdaptiveDashboard_Auth_Url" value="https://reporting-api.adaptive.qa.rcsnp.rsiapps.com/v1/autorization/getAuthToken" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdaptiveDashboard_Auth_ClientId" value="AK1WAio16Abn9-B.rsi.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdaptiveDashboard_Auth_ClientSecret" value="ANH_vt05J0f8U5NqI6U9qeJonTKv0O14_WifCibjY81AmT2T4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdaptiveDashboard_GraphqlUrl" value="https://reporting-api.adaptive.qa.rcsnp.rsiapps.com/reporting/data-api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BackDoorLogin_UserId" value="34567" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BackDoorLogin_LocationIds" value="635672" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BackDoorLogin_LocationLevel" value="DISTRICT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scor-oracle-db.dev.aws.rpcsys.hmco.com)(PORT=1521)))(CONNECT_DATA=(SID=BBDEV01)));User Id=sdrpub;Password=pub761;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Dashboard_CogAT_SmiApiUrl" value="http://SDVSCORMGR01/smiapi/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DataExportDirectory" value="\\sdafile01\DataExportFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DmUrl" value="http://datamanagerqand.rpcsys.hmco.com/BalancedManagement" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Email_CogatFeedbackMailingList" value="dmitriy.litvak@riversideinsights.com,alexey.lashkovski@riversideinsights.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EntryAllowedUrls" value="rpcsys,riversidedatamanager" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Environment" value="DEV1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TurnOnCogatPerformanceLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsTelerikReportFeatureEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsIowaFlexKto1FeatureEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsIowaFlexCogatEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsWebReportingLiteFeatureEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TaskUrl" value="http://dadmjobs01.rpcsys.hmco.com/jobSchedulerAPI/api/task/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="folderPath" value="\\SQAFILE01\BASDMFiles\DownloadedTelerikReports\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportList" value="CogAT7ProfileNarrative,CogAT7ListStudentScores,CogAT7GroupSummary" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LoginGuid" value="78A2C90BF0F04FCA8216F353CC2D4505" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="NLog" connectionString="Data Source=DQDMSQLDB01\DDMSQLDB01;User ID=dm-reskin;Password=Hhmc0;Initial Catalog=BASDM_Nlog;"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <!-- Actuate Service Endpoint -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ActuateSoapBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sdaactuate01.rpcsys.hmco.com:8000" binding="basicHttpBinding" bindingConfiguration="ActuateSoapBinding" contract="ActuateApi.ActuateSoapPort" name="ActuateSoapPort" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>