<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="AcBp_Password" value="actuate_password" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcBp_UserName" value="actuate_username" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcBp_Volume" value="aspirmstor" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcCommandExecute" value="executereport.do" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcCommandSubmit" value="submitjob.do" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcGeneratedReportUrl" value="https://reportoutput.riversidedatamanager.com/iportal/iportal/activePortal/viewer/viewframeset.jsp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ActuateVolume" value="BASWebReports/Iowa/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AcWebLocation" value="https://reportoutput.riversidedatamanager.com/iportal/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdaptiveDashboard_Auth_Url" value="https://reporting-api.adaptive.prod.rcs.rsiapps.com/v1/autorization/getAuthToken" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdaptiveDashboard_Auth_ClientId" value="Sa9MRehiny4GYgd8.rsi.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdaptiveDashboard_Auth_ClientSecret" value="BknWXveIQoF211kkuXwCpDyjJ-f3ZBPBtajLZTMDWN4ae016" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AdaptiveDashboard_GraphqlUrl" value="https://reporting-api.adaptive.prod.rcs.rsiapps.com/reporting/data-api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BackDoorLogin_UserId" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BackDoorLogin_LocationIds" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BackDoorLogin_LocationLevel" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ConnectionString" value="sdr_con" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DataExportDirectory" value="\\oiafile\DataExportFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Dashboard_CogAT_SmiApiUrl" value="http://scoremanager.rsiapps.com/smiapi/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DmUrl" value="https://www.riversidedatamanager.com/BalancedManagement" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Email_CogatFeedbackMailingList" value="tariq.durrani@riversideinsights.com,andrew.blanco@riversideinsights.com,dmitriy.litvak@riversideinsights.com,alexey.lashkovski@riversideinsights.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EntryAllowedUrls" value="rpcsys,riversidedatamanager" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Environment" value="PROD"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TurnOnCogatPerformanceLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsTelerikReportFeatureEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TaskUrl" value="http://pdmjobs01.rpcsys.hmco.com/jobSchedulerAPI.PROD/api/task/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="folderUserName" value="svc_telerik_prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="folderPassword" value="IfXLoDDf3W%Q" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="folderDomain" value="RPCSYS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="folderPath" value="\\oiafile\basdmfiles\DownloadedTelerikReports\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportList" value="CogAT7ProfileNarrative,CogAT7GroupSummary,CogAT7ListStudentScores,IowaCogatProfileNarrative,CatalogExporter,IowaGroupListSummary" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/><!--CogAT7ProfileNarrative,CogAT7ListStudentScores,CogAT7GroupSummary-->
    <add key="IsIowaFlexKto1FeatureEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsIowaFlexCogatEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IsWebReportingLiteFeatureEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoginGuid" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="NLog" connectionString="Data Source=PDMSQLDB-AGL;MultiSubnetFailover=true;User ID=BASDM;Password=8a$dm@11;Initial Catalog=BASDM_Elmah;"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <!-- Actuate Service Endpoint -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ActuateSoapBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://reportoutput.riversidedatamanager.com:8000" binding="basicHttpBinding" bindingConfiguration="ActuateSoapBinding" contract="ActuateApi.ActuateSoapPort" name="ActuateSoapPort" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
