<div>
    <div>
        1-877-246-8337 | <a href="mailto:help@hriversidedatamanager.com">help@riversidedatamanager.com</a>
    </div>
    <div style="margin-top:16px;">
        <em>DataManager Support Center hours are Monday - Friday from 7:00 AM – 6:00 PM (CST).</em>
    </div>
</div>