.create-password-page-root {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
}

.create-password-wrapper {
  background-image: url('../../../img/login-teacher.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #888888;
  background-blend-mode: multiply;
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .reset-password-title {
    margin: 0;
  }
  .reset-password-top-tools {
    display: flex;
    align-items: center;
  }

  .login-form {
    margin: 0;
  }

  & .two-column-ul {
    min-width: 240px;
    padding: 0 15px;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    & .rule-item {
      // list-style: none;
      //
      transition-property: color;
      transition-duration: var(--animation-short);
      transition-timing-function: ease-in-out;

      &.valid-rule-item {
        color: var(--input-color-valid);
        list-style: circle;
      }

      &.invalid-rule-item {
        color: var(--input-color-invalid);
        list-style: disc;
      }
    }
  }

  .spinner-wrapper-center {
    text-align: center;
    margin: 20px 0;
  }
}
