.reset-password-wrapper {
  position: relative;

  & .login-form-wrapper {
    height: unset;
  }
}

.reset-password-visible {
  & .two-column-ul {
    min-width: 240px;
    padding: 0 15px;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    & .rule-item {
      transition-property: color;
      transition-duration: var(--animation-short);
      transition-timing-function: ease-in-out;

      &.valid-rule-item {
        color: var(--input-color-valid);
        list-style: circle;
      }

      &.invalid-rule-item {
        color: var(--input-color-invalid);
        list-style: disc;
      }
    }
  }

  .spinner-wrapper-center {
    text-align: center;
    margin: 20px 0;
  }
}
